/*@font-face {*/
    /*font-family: 'bodegasansblack';*/
    /*src: url('fonts/BodegaSans_Black.ttf') format('truetype');*/
    /*/!*font-weight: normal;*/
    /*font-style: normal;*!/*/
/*}*/


/*font-family: 'Ropa Sans', sans-serif;*/


* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 75%;
    max-width: 1200px;
}

html {
    font-size: 1.3em;
    position: relative;
}

body {
    line-height: 1.5;
    margin:0;
    font-family: 'Ropa Sans', sans-serif;
    background-color: #363636;
}

img {
    max-width: 1000px;
    width: 100%;
    height: 100%
}

.footer-signature {
    position: absolute;
    bottom: -50px;
    left: 30%;
    color: paleturquoise;
}

.title-main {
    font-size: 2em;
    color: #2554C7;
}

/***********-HEADER-*************/

.header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8%;
    background: linear-gradient(140deg, #ffe63f 0%, #ffe63f 50%, black 50%, black 100%);
    padding: 2% 2%;
    box-shadow: 0 5px 10px #ffe63f;
    font-family: 'Ropa Sans', sans-serif;
}

.header-inner {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 11%;
}

.title-header {
    margin: 2% 2%;
    font-size: 1.3em;
}

.home-header {
    align-self: center;
    text-decoration: none;
    color: rgb(0, 0, 0)
}

.nav-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.nav-header a {
    color: white;
    text-decoration: none;
}

.nav-header a:hover {
    color: #ffe63f;
    transform: translate(-4%);
    transition-duration: 200ms
}

/************-SECTION MAIN*****************/

.title-section {
    background-color: black;
    color: #ffe63f;
    text-align: center;
    padding: 3px;
}

.section-main {
    width: 70%;
    margin: 10% 2%;
    padding: 3%;
    border-radius: 2%;
    background-color: floralwhite;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}

/***********-ARTICLES-******************/

.title-item {
    background-color: black;
    color: #ffe63f;
    font-size: 1.1em;
    width: 60%;
    padding: 1px;
    text-align: center;
}

/***********-ASIDES-********************/

.aside-main {
    display: flex;
    flex-direction: column;
    align-self : flex-start;
    border-radius: 2%;
    background-color: floralwhite;
    width: 30%;
    margin: 10% 2%;
    padding: 3%;
}

.title-aside {
    background-color: black;
    color: #ffe63f;
    padding: 1px;
    font-size: 1em;
    text-align: center;
}

.text-aside {
    font-size: .9em;
}

/************-PRECOURSE-***************/

.section-precourse {
    width: 90%;
    margin: 10% 2%;
    padding: 3%;
    border-radius: 2%;
    background-color: floralwhite;
}

.title-precourse {
    background-color: black;
    color: #ffe63f;
    font-size: 1.3em;
    width: 60%;
    padding: 1px;
    text-align: center;
    align-self: center;
}

/************-RESPONSIVE-**************/

@media screen and (max-width: 800px) {

    html{
        line-height: 1.1em;
    }

    .container {
        width: 80%
    }

    .logo {
        width: 30%;
    }
    
    .title-header {
        font-size: .8em;
        background-color: black;
        color: #ffe63f;
        padding: 2px;

    }

    .hidden {
        display: none;
    }

    .header-inner {
        flex-direction: row;
    }

    .header-main {
        flex-direction: column;
        align-items: center;
        background: linear-gradient(90deg,
        #ffe63f 0%,
        #ffe63f 10%,
        black 10%,
        black 20%,
        #ffe63f 20%,
        #ffe63f 30%,
        black 30%,
        black 40%,
        #ffe63f 40%,
        #ffe63f 50%,
        black 50%,
        black 60%,
        #ffe63f 60%,
        #ffe63f 70%,
        black 70%,
        black 80%,
        #ffe63f 80%,
        #ffe63f 90%,
        black 90%,
        black 100%
        );
    }

    .nav-header a:hover{
        color: floralwhite;
    }

    .nav-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .nav-header a{
        font-size: .7em;
        align-self: center;
        text-align: center;
        background-color: black;
        color: #ffe63f;
        padding: 3px;
    }

}